$white: #fff;

$text: rgb(184, 184, 184);

$light-purple: #ab98ec;
$purple: #7e5bfd;
$dark-purple: #6941f7;

$red: rgb(255, 102, 102);
$green: rgb(106, 209, 115);


$background: rgb(243, 243, 243);

$shadow-1: #92929275;
$shadow-2: #5f5f5f75;