.form-group {
  display: block;
  margin-bottom: 15px;
  label {
    display: block;
    margin-bottom: 5px;
  }
  input,
  textarea {
    width: 100%;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: rgb(207, 207, 207) solid 1px;
    background-color: rgb(243, 243, 243);
    color: #444;
    transition: all 0.3s;
    resize: none;
    &:focus{
        border-color: #846add;
    }
  }
}

