body {
  background-color: rgb(231, 231, 231);
}
.wrapper {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 25px;
  box-shadow: #00000025 4px 4px 8px;
  .inner-wrapper {
    padding: 50px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .form-wrapper {
        width: 75%;
        h1{
            margin-bottom: 25px;
        }
    }
  }
}
